@import './normalize.css';
@import './vars.css';

/* ====================================================================================== */
/* ======================================GLOBAL========================================== */
/* ====================================================================================== */

html {
    font-family:'Segoe UI', sans-serif;
    background-color: var(--violet);
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*='__container'] {
    padding: 0 1.5rem;
}

@media(max-width: 320.98px) {
    [class*='__container'] {
        padding: 0 13px;
    }
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

*:focus-visible {
    outline: 2px solid var(--system-white);
}

/* Components */

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
    margin: 0;
    color: var(--text-black);
    font-weight: 700;
}


.heading-1 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.28px;
}

.heading-2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.heading-3 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.heading-4 {
    font-size: 16px;
    line-height: 24px;
}

.text-16,
.text-13 {
    margin: 0;
    color: var(--text-black);
    font-weight: 400;
}

.text-16 {
    font-size: 16px;
    line-height: 24px;
}

.text-13 {
    font-size: 13px;
    line-height: 16px;
}

.content-box {
    padding: 24px;
    padding-top: 16px;
    border-radius: 16px;
    background: var(--background-white, #FFF);
}

.content-box--shadow {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.dotted {
    padding-bottom: 3px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='2' viewBox='0 0 49 2' fill='none'%3E%3Cpath d='M1 1H48' stroke='%23000000' stroke-opacity='0.2' stroke-linecap='square' stroke-dasharray='4 2'/%3E%3C/svg%3E");
}

.dotted--magenta {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='2' viewBox='0 0 49 2' fill='none'%3E%3Cpath d='M1 1H48' stroke='%23CB11AB' stroke-opacity='0.2' stroke-linecap='square' stroke-dasharray='4 2'/%3E%3C/svg%3E");
}

.dotted--green {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='2' viewBox='0 0 49 2' fill='none'%3E%3Cpath d='M1 1H48' stroke='%230CB477' stroke-opacity='0.2' stroke-linecap='square' stroke-dasharray='4 2'/%3E%3C/svg%3E");
}

.text-green {
    color: var(--green);
}

.grey-box {
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
    background: var(--smoky);
}

.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-label .input-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: inherit;
}

.checkbox-label:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-label input:checked ~ .checkmark {
    background-color: var(--magenta);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Components */

/* ====================================================================================== */
/* ======================================HEADER========================================== */
/* ====================================================================================== */

.header {
    padding: 18px 0;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__burger {
    display: flex;
    margin-right: 16px;
    padding: 11px 9px 11px 9px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.header__burger img {
    display: block;
}

.header__logo {
    margin-right: 15px;
}

.header__logo a {
    display: inline-block;
    color: var(--system-white);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.86px;
    text-decoration: none;
    white-space: pre-line;
}

.header__search-form {
    flex: 1 1 auto;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.header__search-form:has(input:focus) {
    outline: 2px solid var(--system-white);
}

.header__search-form label {
    display: flex;
}

.header__search-form input {
    padding: 10px 0px 13px 20px;
    border-radius: 36px;
    border: none;
    background: transparent;
    opacity: 0.5;
    width: 100%;
    color: var(--system-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.header__search-form input:focus {
    outline: none;
}

.header__search-form input::placeholder {
    color: var(--system-white);
}

.header__search-form button[type='submit'] {
    border-radius: 0 36px 36px 0;
    padding: 10px 20px 13px 20px;
}

.header__search-form button[type='submit'] img {
    display: block;
    opacity: 0.4;
}

.header__links {
    display: flex;
    gap: 43px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__link a {
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    color: var(--system-white);
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
}

.header__link_profile svg {
    transform: translate(1px, -2px);
}

.header__link_cart {
    position: relative;
}

.header__link_cart svg {
    transform: translate(-3px, -2px);
}

.header__link_cart-label {
    position: absolute;
    top: -6px;
    right: 5px;
    padding: 1px 5px;
    border-radius: 16px;
    background: var(--system-red);
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
}

@media(max-width: 767.98px) {
    .header__burger {
        border: none;
        border-radius: 4px;
        padding: 0;
    }

    .header__logo a {
        white-space: nowrap;
    }

    .header__links {
        display: none;
    }

    .header__search-form {
        margin-right: 0;
    }
}

@media(max-width:500px) {
    .header__burger {
        border-radius: 0;
    }

    .header__logo {
        margin-right: 0;
        flex-grow: 1;
    }

    .header__logo a {
        font-size: 20px;
        letter-spacing: 2.06px;
    }

    .header__search-form {
        padding: 0;
        display: block;
        flex: 0 0 auto;
        background: initial;
        opacity: 1;
    }

    .header__search-form input {
        display: none;
    }

    .header__search-form button[type='submit'] {
        padding: 0;
        border-radius: 0;
    }

    .header__search-form button[type='submit'] img {
        opacity: 1;
    }
}

@media(max-width:320.98px) {
    .header {
        padding: 4px 0;
    }

    .header__logo a{
        font-size: 20px;
        letter-spacing: 2.06px;
    }

    .header__burger {
        padding: 14px 12px 14px 12px;
        margin-left: -10px;
        margin-right: 10px;
        border-radius: 0;
    }
}

/* ==================================================================================== */
/* ======================================MAIN========================================== */
/* ==================================================================================== */

.main {
    display: grid;
    flex: 1 1 auto;
    border-radius: 24px;
    background-color: var(--smoky);
}

.main__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 24px;
    padding-bottom: 24px;
}

.main__cart {
    margin-top: 12px;
}

.main__total {
    margin-left: 22px;
}

.main__total-prices {
    margin-bottom: 25px;
}

.main__total-price {
    display: flex;
    justify-content: space-between;
}

.main__total-price--title {
    margin-bottom: 7px;
}

.main__total-prices-value {
    display: flex;
    align-items: baseline;
}

.price .price-currency {
    margin-left: 5px;
}

.main__shipping {
    margin-bottom: 24px;
}

.main__shipping-delivery {
    margin-bottom: 12px;
}

.main__shipping-title {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.main__shipping-address-edit {
    display: none;
}

.main__shipping-date {
    display: inline-block;
    color: var(--magenta);
}

.main__shipping-redelivery {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main__shipping-redelivery-text {

}

.main__payment {

}

.main__payment-title {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.main__payment-method {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.main__payment-method-logo {
    padding: 7.33px 1px;
    border-radius: 4px;
    background: var(--smoky);
}

.main__payment-method-logo img{
    display: block;
}