
/* Цвета */

:root {
    --violet: #6725A8;
    --magenta: #CB11AB;
    --green: #0CB477;
    --coral: #FF3B30;
    --smoky: #F6F6FA;
    --smoky-dark: #F0ECF4;
    --system-white: #FFFFFF;
    --system-gray: #A0A0A4;
    --system-red: #F55123;
    --text-black: #000000;
}